.bg__color--blue {
	.body__container--header {
		background: no-repeat,
			center / cover url('../images/desktop/image-header.jpg');

		@media screen and (max-width: $largeMobile) {
			background: no-repeat, cover url('../images/mobile/image-header.jpg');
		}

		.header__slogan {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			row-gap: 100px;
			padding-top: 70px;
			padding-bottom: 200px;

			@media screen and (max-width: $largeMobile) {
				padding-top: 70px;
				row-gap: 40px;
				padding-bottom: 140px;
			}

			&--text {
				color: $white;
				text-transform: uppercase;
				font-family: $fontSerif;
				letter-spacing: 7px;
			}
		}
	}
}
