.reviews__container {
  display: flex;

  &--header {
    font-family: $fontSerif;
    font-size: 1.6rem;
    font-weight: 900;
    color: $lightGrey;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
  }

  .review__container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .review__container--image {
      width: 144px;
      height: 144px;
      border-radius: 50%;
      overflow: hidden;
      @extend %adjust-img;
    }
  }
}