/* Mobile: 375px
Desktop: 1440px */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontSize: 1.8rem;
    --fontSize2: 1.1rem;
    --fontSize1: 1rem;
    --fontBarlow: "Barlow", arial, sans-serif;
    --fontFraunces: "Fraunces", arial, sans-serif;
    --font700: 700;
    --font900: 900;
    --color: rgb(167, 171, 174);
    --colorClient: rgb(90, 99, 108);
    --colorCyan: rgb(37, 86, 75);
}

body {
    font-size: 10px;
    font-family: var(--fontFraunces);
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 77vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(images/mobile/image-header.jpg);
    overflow: hidden;
}

header p {
    display: inline-block;
    padding: 20px 0 0 30px;
    font-size: var(--fontSize);
    color: white;
}

header .toggle {
    position: absolute;
    top: 30px;
    right: 32px;
}

header .toggle input {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -6px;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

header .toggle span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background: rgb(237, 235, 235);
    border-radius: 3px;
    transform-origin: 4px 0px;
}

header .toggle span:first-child {
    transform-origin: 0% 0%;
}

header .toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

header .toggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, 0);
    background: #232323;
}

header .toggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 0);
}

header .toggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

header .toggle input:checked~.menu {
    transform: none;
}

header .toggle .menu {
    width: 305px;
    margin: 40px 0 0 -285px;
    padding: 40px 80px;
    text-align: center;
    background: white;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(115%, 0);
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

header .toggle .menu a {
    display: block;
    margin-bottom: 32px;
    font-family: var(--fontBarlow);
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color);
}

header .toggle .menu a:hover {
    color: black;
}

header .toggle .menu a:nth-last-child(1) {
    margin-bottom: 0;
    border-style: none;
    background-color: rgb(250, 212, 0);
    border-radius: 30px;
    line-height: 300%;
    text-transform: uppercase;
    font-family: var(--fontFraunces);
    font-weight: var(--font700);
    font-size: 1.1rem;
    color: black;
}

h1 {
    margin-top: 20%;
    font-size: 2.6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: white;
}

div.arrow {
    margin-top: 35px;
    text-align: center;
    animation: shakes 3s linear infinite;
}

@keyframes shakes {
    0% {
        margin-top: 35px;
    }

    90% {
        margin-top: 35px;
    }

    91% {
        margin-top: 25px;
    }

    92% {
        margin-top: 35px;
    }

    93% {
        margin-top: 25px;
    }

    94% {
        margin-top: 35px;
    }

    95% {
        margin-top: 25px;
    }

    96% {
        margin-top: 35px;
    }

    97% {
        margin-top: 25px;
    }

    98% {
        margin-top: 35px;
    }

    99% {
        margin-top: 25px;
    }

    100% {
        margin-top: 35px;
    }
}

section.four {
    text-align: center;
}

section.four img {
    width: 100%;
}

section.four article {
    padding: 60px 25px;
}

section.four article h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: rgb(35, 48, 62);
    font-weight: var(--font900);
}

section.four article p {
    margin-bottom: 30px;
    font-family: var(--fontBarlow);
    font-size: var(--fontSize2);
    line-height: 170%;
    color: var(--color);
}

section.four article a {
    position: relative;
    font-weight: var(--font900);
    font-size: var(--fontSize1);
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

section.four article a::after {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    height: 10px;
    width: 115%;
    margin-left: -7px;
    border-radius: 30px;
    background-color: rgb(247, 247, 187);
    z-index: -1;
}

section.four article a.pink::after {
    background-color: rgb(253, 226, 226);
}

section.two .bg {
    width: 100vw;
    height: 87vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/mobile/image-graphic-design.jpg);
}

section.two .mandarin {
    background-image: url(images/mobile/image-photography.jpg);
}

section.two .text {
    padding: 390px 20px 0 20px;
    font-size: var(--fontSize1);
    text-align: center;
    color: var(--colorCyan);
    line-height: 170%;
}

section.two h3 {
    font-size: var(--fontSize);
}

section.two p {
    padding-top: 30px;
    font-family: var(--fontBarlow);
}

section.client {
    padding: 60px 25px 90px;
    text-align: center;
}

section.client h4 {
    font-size: var(--fontSize1);
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--color);
}

section.client .people {
    margin-top: 70px;
}

section.client img {
    width: 70px;
    border-radius: 50%;
}

section.client .description {
    margin: 30px 0;
    font-family: var(--fontBarlow);
    font-size: var(--fontSize2);
    line-height: 170%;
    color: var(--colorClient);
}

section.client .name {
    margin-bottom: 10px;
    font-size: var(--fontSize2);
}

section.client .prof {
    font-size: 0.9rem;
    font-family: var(--fontBarlow);
    color: var(--color);
}

section.galery {
    font-size: 0;
}

section.galery img {
    width: 50vw;
}

footer {
    padding: 50px 0 70px 0;
    text-align: center;
    background-color: rgb(144, 225, 208);
}

footer p {
    font-size: 2rem;
    color: rgb(52, 121, 108);
}

footer .about a {
    display: inline-block;
    margin: 40px 29px 100px 29px;
    font-size: var(--fontSize2);
    font-family: var(--fontBarlow);
    color: rgb(86, 151, 138);
    text-decoration: none;
}

footer .social a {
    margin-right: 25px;
}

footer .social a:nth-last-child(1) {
    margin-right: 0;
}

@media (min-width: 1440px) {
    header {
        height: 850px;
        background-image: url(images/desktop/image-header.jpg);
    }

    header p {
        padding: 40px 0 0 40px;
        font-size: 2.3rem;
    }

    header .toggle input,
    header .toggle span {
        display: none;
    }

    header .toggle .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        padding: 0;
        margin-top: 5px;
    }

    header .toggle .menu a {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 50px;
        color: white;
    }

    header .toggle .menu a:nth-last-child(1) {
        background-color: white;
        padding: 0 30px;
        font-size: var(--fontSize1);
    }

    header .toggle .menu a:hover:nth-last-child(1) {
        color: white;
        background-color: lightskyblue;
    }

    h1 {
        margin-top: 7%;
        font-size: 3.4rem;
        letter-spacing: 10px;
        font-weight: var(--font900);
    }

    div.arrow {
        margin-top: 85px;
    }

    @keyframes shakes {
        0% {
            margin-top: 105px;
        }

        90% {
            margin-top: 105px;
        }

        91% {
            margin-top: 95px;
        }

        92% {
            margin-top: 105px;
        }

        93% {
            margin-top: 95px;
        }

        94% {
            margin-top: 105px;
        }

        95% {
            margin-top: 95px;
        }

        96% {
            margin-top: 105px;
        }

        97% {
            margin-top: 95px;
        }

        98% {
            margin-top: 105px;
        }

        99% {
            margin-top: 95px;
        }

        100% {
            margin-top: 105px;
        }
    }

    section.four {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    section.four img {
        width: 50%;
        order: 2;
    }

    section.four img.one,
    section.four article.one {
        order: 2;
    }

    section.four article {
        width: 50%;
        order: 1;
        text-align: left;
        padding: 150px 115px;
    }

    section.four article h2 {
        margin: 0;
        padding: 0 15px;
        font-size: 2.5rem;
    }

    section.four article p {
        margin: 40px 0;
        font-size: 1.2rem;
        color: rgb(141, 144, 147);
    }

    section.four article a:hover::after {
        background-color: rgb(250, 212, 0);
    }

    section.four article a.pink:hover::after {
        background-color: rgb(254, 120, 103);
    }

    section.two {
        display: flex;
    }

    section.two .bg {
        width: 50vw;
        height: auto;
        background-image: url(images/desktop/image-graphic-design.jpg);
    }

    section.two .mandarin {
        background-image: url(images/desktop/image-photography.jpg);
    }

    section.two .text {
        padding: 410px 180px 40px;
    }

    section.client {
        display: flex;
        flex-wrap: wrap;
        padding: 160px 85px;
    }

    section.client h4 {
        flex-shrink: 0;
        width: 100%;
        font-size: 1.3rem;
    }

    section.client .people {
        width: calc(100%/3);
    }

    section.client .description {
        margin: 50px 50px 60px;
    }

    section.galery {
        display: flex;
    }

    section.galery img {
        width: calc(100%/4);
        height: 400px;
    }

    footer {
        padding: 50px 0 70px 0;
        text-align: center;
        background-color: rgb(144, 225, 208);
    }

    footer p {
        font-size: 2rem;
        color: rgb(52, 121, 108);
    }

    footer .about a,
    footer .social a {
        cursor: pointer;
    }

    footer .about a:hover {
        color: white;
    }
}
