* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontSize: 1.8rem;
    --fontSize2: 1.1rem;
    --fontSize1: 1rem;
    --fontBarlow: 'Barlow', arial, sans-serif;
    --fontFraunces: 'Fraunces', arial, sans-serif;
    --font700: 700;
    --font900: 900;
    --color: rgb(167, 171, 174);
    --colorClient: rgb(90, 99, 108);
    --colorCyan: rgb(37, 86, 75);
}

body {
    font-size: 10px;
    font-family: var(--fontFraunces);
}

header {
    width: 100vw;
    height: 77vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-image: url(images/mobile/image-header.jpg);
}

header p {
    display: inline-block;
    padding: 20px 0 0 30px;
    font-size: var(--fontSize);
    color: white;
}

/* Hamburger Menu */

header .toggle {
    position: absolute;
    top: 30px;
    right: 32px;
    /* overflow: hidden; */
}

header .toggle input {
    position: absolute;
    width: 25px;
    height: 25px;
    top: -6px;
    left: 0;
    cursor: pointer;
    opacity: 0;
}

header .toggle span {
    display: block;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background: rgb(237, 235, 235);
    border-radius: 3px;
    transform-origin: 4px 0px;
}

header .toggle span:first-child {
    transform-origin: 0% 0%;
}

header .toggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

header .toggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-1px, 0);
    background: #232323;
}

header .toggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, 0);
}

header .toggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

header .toggle input:checked~ul {
    transform: none;
}

header .toggle .menu {
    position: absolute;
    width: 305px;
    margin: 40px 0 0 -285px;
    padding: 40px 80px;
    text-align: center;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(115%, 0);
    transition: 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

header .toggle .menu li {
    margin-bottom: 32px;
    font-family: var(--fontBarlow);
    font-size: 1.3rem;
}

header .toggle .menu a:nth-last-child(1) li {
    margin-bottom: 0;
    border: 1px solid rgb(250, 212, 0);
    background-color: rgb(250, 212, 0);
    border-radius: 30px;
    line-height: 300%;
    text-transform: uppercase;
    font-family: var(--fontFraunces);
    font-weight: var(--font700);
    font-size: 1.1rem;
    color: black;
}

header .toggle a {
    text-decoration: none;
    color: var(--color);
}

header .toggle a:hover {
    color: black;
}

/* ----------------- */

h1 {
    margin-top: 20%;
    font-size: 2.6rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: white;
}

div.arrow {
    margin-top: 35px;
    text-align: center;
    animation: shakes 3s linear infinite;
}

@keyframes shakes {
    0% {
        margin-top: 35px;
    }

    90% {
        margin-top: 35px;
    }

    91% {
        margin-top: 25px;
    }

    92% {
        margin-top: 35px;
    }

    93% {
        margin-top: 25px;
    }

    94% {
        margin-top: 35px;
    }

    95% {
        margin-top: 25px;
    }

    96% {
        margin-top: 35px;
    }

    97% {
        margin-top: 25px;
    }

    98% {
        margin-top: 35px;
    }

    99% {
        margin-top: 25px;
    }

    100% {
        margin-top: 35px;
    }
}

section.four {
    text-align: center;
}

section.four img {
    width: 100%;
}

section.four article {
    padding: 60px 25px;
}

section.four article h2 {
    margin-bottom: 30px;
    font-size: 2rem;
    color: rgb(35, 48, 62);
    font-weight: var(--font900);
}

section.four article p {
    margin-bottom: 30px;
    font-family: var(--fontBarlow);
    font-size: var(--fontSize2);
    line-height: 170%;
    color: var(--color);
}

section.four article a {
    display: inline-block;
    font-weight: var(--font900);
    font-size: var(--fontSize1);
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

section.four article a .underline {
    height: 10px;
    margin: -7px -10px 0 -8px;
    border-radius: 30px;
    background-color: rgb(247, 247, 187);
}

section.four article a .pink {
    background-color: rgb(253, 226, 226);
}

section.two .bg {
    width: 100vw;
    height: 87vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/mobile/image-graphic-design.jpg);
}

section.two .mandarin {
    background-image: url(images/mobile/image-photography.jpg);
}

section.two .text {
    padding: 390px 20px 0 20px;
    font-size: var(--fontSize1);
    text-align: center;
    color: var(--colorCyan);
    line-height: 170%;
}

section.two h3 {
    font-size: var(--fontSize);
}

section.two p {
    padding-top: 30px;
    font-family: var(--fontBarlow);
}

section.client {
    padding: 60px 25px 90px;
    text-align: center;
}

section.client h4 {
    font-size: var(--fontSize1);
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--color);
}


section.client .people {

    margin-top: 70px;
}

section.client img {
    width: 70px;
    border-radius: 50%;
}

section.client .description {
    margin: 30px 0;
    font-family: var(--fontBarlow);
    font-size: var(--fontSize2);
    line-height: 170%;
    color: var(--colorClient);
}

section.client .name {
    margin-bottom: 10px;
    font-size: var(--fontSize2);
}

section.client .prof {
    font-size: 0.9rem;
    font-family: var(--fontBarlow);
    color: var(--color);
}

section.galery {
    font-size: 0;
}

section.galery img {
    width: 50vw;
}

footer {
    padding: 70px 30px;
    text-align: center;
    background-color: rgb(156, 245, 225);
}

footer p {
    /* font-weight: var(--font900); */
    font-size: 2rem;
    color: rgb(69, 140, 126);
}

/* color: rgb(69, 140, 126); text */